<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привет!</h1>

<form action="/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding: 5px">
        <label for="song">Выбирай песню: </label>
        <select name="song" id="song">
            <option value="">...</option>
            {% for song in songs %}
                <option value="{{ song.id }}">{{ song.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="padding: 5px">
        {{ form }}
    </div>
    <div style="padding: 6px">
        <input type="submit" value="Load song">
    </div>
</form>

</body>
</html>