<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>aaaaaaaaaaaaaaaaaa</h1>
<form action="/" method="GET">
    <label for="song">Выбирай песню: </label>
    <select name="song" id="song">
        <option value="">...</option>
        {% for song in songs %}
            <option value="{{ song.id }}">{{ song.title }}</option>
        {% endfor %}
    </select>
    <label for="audio">Загрузить свою игру</label>
    <input type="file" id="audio">
    <input type="submit" value="Load song">
</form>


</body>
</html>