<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
            integrity="sha384-ufR9RFnRs6lniiaFvtJziE0YeidtAgBRH6ux2oUItHw5WTvE1zuk9uzhUU/FJXDp"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
</head>
<body>
<div>
    {% if score_path %}
        <img src="{{score_path}}" alt="">
    {% endif %}
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding: 5px">
        <label for="song">Выбирай песню: </label>
        <select name="song" id="song">
            <option value="">...</option>
            {% for song in songs %}
                <option value="{{ song.id }}">{{ song.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="padding: 5px">
        {{ form }}
    </div>
    <div style="padding: 6px">
        <input type="submit" value="Load song">
    </div>
</form>
</body>
</html>